# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
.env

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/

# Arduino build files
*.hex
*.elf
*.bin
*.eep
*.lss
*.map
*.o
*.d

# Temp files
*.log
*.tmp
*.bak
*~
